@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@font-face {
    font-family: 'Billy';
    src: url('fonts/Billy.ttf');
 }

:root {
    --naranja: #ff6103;
    --azul: #072754;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.bill{
    font-family: 'Billy';
    font-size: 2.3rem;
}

.ocean{
    transform: translateY(-40px);
}

.oceanu{
    transform: translateY(-28px);
}

.open{
    font-family: 'Open Sans', sans-serif;
}

.open_b{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.menu_principal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_contenedor {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.alinear_co {
    text-align: left;
}

.menu_logo img {
    display: block;
    object-fit: contain;
    width: 250px;
}

.menu_logo_foo img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
}

.cajota{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.cajita_footer{
    display: flex;
    justify-content: center;
}

.cajita_dos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_info {
    height: 100%;
    display: flex;
    align-items: center;
}

.nuevo_co {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.nuevo_co h4 {
    padding: 2.5rem 0;
}

.menu_redes i {
    color: var(--naranja);
}

.menu_redes a {
    text-decoration: none;
}

.menu_redes a:hover {
    text-decoration: none;
}

.menu_redes {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.parra{
    margin: 0;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 0 1rem;
    font-weight: 500;
    color: var(--azul);
}

.menu_espacio {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 0.2rem;
}

.icn_naranja {
    font-size: 1.5rem;
}

.icn_naranja_dos {
    font-size: 1.4rem;
}

.menu_secundario {
    background-color: var(--azul);
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu_opciones {
    display: flex;
    justify-content: center;
    width: 80%;
}

.menu_opciones a {
    padding: 1rem 2rem;
    color: #ffffff;
    transition: all 0.4s;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.secundario_dos {
    border-right: 1px solid #ffffff;
}

.secundario_uno {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.secundario_tres {
    border-right: 1px solid #ffffff;
}

.menu_opciones a:hover {
    background-color: #337ab7;
    text-decoration: none;
}

.bg-azul {
    background-color: var(--azul);
}

.blanco {
    display: block;
    color: #ffffff !important;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0 1rem;
}

.opciones_movil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_b {
    width: 100%;
}

.slider_b_mod {
    transform: translateY(-10%);
}

.img_slider {
    height: 100vh;
    object-fit: cover;
}

.img_slider_paginas {
    height: 50vh;
    object-fit: cover;
}

.texto_slider {
    filter: grayscale(35%);
    position: relative;
}

.texto_slider h1 {
    position: absolute;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_slider_nef h1 {
    position: absolute;
    color: #000;
    font-size: 3.5rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_slider h3 {
    position: absolute;
    color: var(--azul);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_slider_home {
    position: relative;
}

.texto_slider_home h2 {
    position: absolute;
    color: #ffffff;
    text-shadow: 1px 0px 30px rgba(150, 150, 150, 1);
    font-size: 3.50rem;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6103' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6103' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */

.secciondos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rodilla_nueva {
    width: 87%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
}

.redondo {
    border-radius: 1rem;
    background-color: #ffffff;
}

.redondo_uno {
    border-radius: 1rem;
    transform: translateY(-50%);
    background-color: #ffffff;
}

.redondo_dos {
    border-radius: 1rem;
    transform: translateY(-50%);
    background-color: #ffffff;
}

.redondo_dos_o {
    border-radius: 1rem;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-style: solid;
    border-width: 20px 40px;
    border-color: #ffffff;
}

.partes {
    display: block;
    margin: auto;
}

.banner_bonito {
    position: relative;
    z-index: 10;
    padding-top: 3rem;
}

.iconos_rodilla {
    padding-bottom: 1rem;
    width: 64px;
}

.iconos_rodilla_dos {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 64px;
}

.parr_rod{
    font-size: 1.2rem;
}

.btn_celeste_dos {
    background-color: #0F93B3;
    color: #ffffff;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    transition: all 0.5s;
    border: 1px solid #0F93B3;
}

.btn_celeste_dos:hover {
    background-color: #ffffff;
    color: #ffffff;
    text-decoration: none;
    color: #0F93B3;
}

.btn_celeste_tres {
    background-color: #0F93B3;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
    border: 1px solid #0F93B3;
    padding: 0.6rem 2.35rem;
}

.btn_esp{
    padding-top: 2rem;
}

.raya{
    display: block;
    margin: 0 auto;
    padding-bottom: 3rem;
    object-fit: contain;
    width: 200px;
}

.raya_pos{
    display: block;
    margin: 0 auto;
    padding-bottom: 2rem;
    object-fit: contain;
    width: 200px;
}

.raya_asd{
    display: block;
    padding-bottom: 3rem;
    object-fit: contain;
    width: 200px;
}

.btn_celeste_tres:hover {
    background-color: #ffffff;
    color: #ffffff;
    text-decoration: none;
    color: #0F93B3;
}

.btn_celeste {
    background-color: #0F93B3;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 1s;
}

.btn_celeste:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn_naranja {
    background-color: var(--naranja);
    border: 0;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 1s;
}

.btn_naranja:hover {
    color: #ffffff;
    text-decoration: none;
}

.btn_azul {
    display: block;
    width: 100%;
    background-color: var(--azul);
    border: 0;
    color: #ffffff;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 1s;
}

.directorio_m{
    padding: 1rem;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 0.5rem;
    transition: 0.7s all;
}

.directorio_m:hover{
    transform: scale(1.15);
}

.directorio_m img{
    display: block;
    object-fit: contain;
    margin: auto;
}

.direc_e{
    text-decoration: none;
    color: #000000;
}

.direc_e:hover{
    text-decoration: none;
    color: #000000;
}

.directorio_m p{
    padding: 1rem 0 1rem 0;
    margin-bottom: 0;
}

.btn_azul:hover {
    color: #ffffff;
    text-decoration: none;
}

.foot {
    background-color: var(--azul);
}

.foot_espacio {
    padding: 4rem 0;
}

.negr{
    text-shadow: 1px 0px 30px rgb(150 150 150);
}

.foot_espacio_uno {
    padding: 0rem 0 4rem 0;
}

.foot_blanco {
    background-color: #ffffff;
    border-radius: 1rem;
}

.foot_seccion {
    padding: 3rem 0 2rem 0;
    text-align: center;
    color: var(--azul);
}

.foot_naranja {
    color: #000000;
}

.foot_naranja p{
    line-height: 2rem;
}

.i_naranja {
    color: var(--naranja);
}

.i_grande {
    font-size: 3rem;
}

.ir-arriba {
    display: none;
    padding: 15px 20px;
    background: var(--naranja);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.parrafos {
    line-height: 2rem;
}

.check{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.chevy{
    object-fit: contain;
    width: 32px;
    margin: 0 1rem 0rem 0;
}

.titulos_parrafos {
    color: var(--azul);
    padding: 4rem 0 1.5rem 0;
    text-transform: uppercase;
}

.titulos_parrafos_con {
    color: var(--azul);
    padding: 4rem 0 0rem 0;
    text-transform: uppercase;
}

.titulos_parrafos_cone {
    color: var(--azul);
    padding: 4rem 0 0rem 0;
    text-transform: uppercase;
}

.tresjuntos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_plan_ {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.img_plan_dos {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 6.5rem;
}

.celeste {
    background-color: #e0f9f8;
}

.bordes {
    border: 1.5px solid #0F93B3;
}

.subida {
    transform: translateY(-40px);
}

.btn_centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doctor {
    padding: 3rem 0;
}

.frases {
    font-size: 1.5rem;
    line-height: 2rem;
}

.lista li {
    font: 2rem;
    line-height: 2rem;
    text-align: justify;
}

@keyframes uno {
    0%   {
        top: -100%;
    }
    100%  {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.animadito{
    animation-name: uno;
    animation-duration: 1s;
}

.pudin{
    padding: 3rem 0 2rem 0;
}

.porrr{
    color: var(--azul);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.lista {
    padding-bottom: 4rem;
    list-style: none;
}

.lista li::before {
    content: "\2022";
    color: var(--naranja);
    font-weight: bold;
    font-size: 3rem;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.noq{
    transform: translateX(10%);
}

.noqdos{
    transform: translateX(20%);
}

.infi{
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
}

.naranja_fondo {
    background-color: var(--naranja);
}

.parrafito{
    margin-left: 2rem;
    text-align: justify;
}

.parrafito:last-child{
    margin-left: 2rem;
    text-align: justify;
    width: 130px;
}

.descrip {
    font-size: 1.2rem;
}

.aplica {
    width: 100%;
    padding: 0.5rem 1rem;
}

.entrada {
    padding: 1.5rem 1.8rem;
    border-radius: 0.5rem;
    border: 0.5px solid rgb(133, 133, 133);
    text-align: justify;
}

.btn-blog{
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: var(--naranja);
    padding:0.5rem 0;
    margin: 1rem 0 0.5rem 0;
    border: 1px solid var(--naranja);
    transition: 0.3s all;
}

.btn-blog:hover{
    text-decoration: none;
    color: var(--azul);
    background-color: #ffffff;
    border: 1px solid var(--azul);
}

.entrada h3 {
    padding-top: 1rem;
}

.entrada p {
    margin: 0;
    padding: 1rem 0;
}

.entrada img {
    padding-top: 0.5rem;
    display: block;
    margin: auto;
    width: 100%;
    object-fit: contain;
}

.azulin{
    background-color: var(--azul);
}

.vidas{
    font-size: 3rem;
    font-weight: 400;
    white-space: pre-wrap;
}

.mrcuatro{
    margin-right: 1.5rem;
}

.cuentas{
    color: var(--azul);
}

.pep{
    margin: 0;
    margin-bottom: 0.5rem;
}

.bos{
    font-size: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 1080px) {
    .alinear_co {
        text-align: center;
    }

    .nuevo_co {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .banner_bonito {
        position: relative;
        z-index: 10;
        padding-top: 0;
    }

    .foot {
        background-color: #ffffff;
    }

    .secciondos {
        padding: 1.5rem 0;
    }

    .rodilla_nueva {
        width: 80%;
    }

    .redondo {
        border-radius: 0;
        transform: translateY(0);
        background-color: #ffffff;
    }

    .menu_movil {
        display: block;
    }

    .menu_secundario {
        display: none;
    }

    .menu_info {
        display: none;
    }

    .menu_logo {
        display: block;
        margin: 0 auto;
    }

    .texto_slider h3 {
        position: absolute;
        color: var(--azul);
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 900px){
    .texto_slider_nef h1 {
        position: absolute;
        color: #000;
        font-size: 2rem;
        white-space: pre;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu_logo_foo img {
        display: block;
        object-fit: cover;
        margin: 0 auto;
        width: 275px;
    }
    .foot_espacio {
        padding: 4rem 0;
        overflow-x: hidden;
    }
    
    .foot_espacio_uno {
        padding: 0rem 0 4rem 0;
        overflow-x: hidden;
    }
    .img_plan_dos {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .noq{
        transform: translateX(0);
    }
    
    .noqdos{
        transform: translateX(0);
    }
    .azulin{
        background-color:#ffffff;
    }
    .texto_slider_home h2 {
        position: absolute;
        color: #ffffff;
        text-shadow: 1px 0px 30px rgba(150, 150, 150, 1);
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .redondo_dos {
        border-radius: 1rem;
        transform: translateY(0);
        background-color: #ffffff;
    }

    .redondo_dos_o {
        border-radius: 0rem;
        transform: translateY(0);
        background-color: #ffffff;
    }

    .copycopy{
        background-color: var(--azul);
        color: #ffffff;
    }
    .parrafito:last-child{
        margin-left: 0;
        text-align: center;
        width: auto;
        margin-top: 1rem;
    }
}

@media only screen and (max-width:768px) {
    .pudin{
        padding: 0rem 0 0rem 0;
    }
    .titulos_parrafos_cone {
        color: var(--azul);
        padding: 2rem 0 0rem 0;
        text-transform: uppercase;
    }
    .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6103' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff6103' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
    .bill {
        font-family: 'Billy';
        font-size: 2rem;
        /* margin-top: 1rem; */
        display: inline-block;
        padding-top: 1rem;
    }
    .loquit{
        display: none;
    }
    .cajita_footer{
        display: block;
    }
    .cajita_dos{
        align-items: center;
    }
    .parrafito{
        margin-left: 0;
        text-align: center;
        margin-top: 1rem;
    }
    .btn_celeste_dos {
        text-align: center;
        background-color: #0F93B3;
        color: #ffffff;
        display: block;
        width: 100%;
        padding: 0.6rem 0;
        text-decoration: none;
        transition: all 0.5s;
        border: 1px solid #0F93B3;
    }
    .btn_celeste_tres {
        background-color: #0F93B3;
        color: #ffffff;
        display: block;
        width: 100%;
        padding: 0.6rem 0;
        text-decoration: none;
        transition: all 0.5s;
        border: 1px solid #0F93B3;
    }
    .divi{
        width: 100%;
    }
    .chevy{
        margin: 0 0.1rem 0.5rem 0;
    }
    .ir-arriba {
        display: none !important;
    }
    .vidas{
        font-size: 2rem;
        font-weight: 400;
        white-space: pre-wrap;
    }
    .raya_asd{
        margin: 0 auto;
    }
    .lista li::before {
        content: "\2022";
        color: var(--naranja);
        font-weight: bold;
        font-size: 1.3rem;
        display: inline-block; 
        width: 1em;
        margin-left: -1.2em;
    }
    .lista li{
        text-align: left;
    }
    .didi{
        text-align: center;
    }
    .img_slider_paginas {
        height: 30vh;
        object-fit: cover;
    }
    .img_slider {
        height: 90vh;
        object-fit: cover;
    }
    .nuevo_co h4 {
        padding: 2.5rem 0;
        font-size: 1.4rem;
    }
    .raya_pos{
        display: block;
        margin: 0 auto;
        padding-bottom: 0rem;
        object-fit: contain;
        width: 200px;
    }
    .infi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .mrcuatro{
        margin-right: 0;
    }
    
}

@media only screen and (min-width: 1080px) {
    .menu_movil {
        display: none;
    }
}